@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,900;1,900&display=swap');

:root {
    --primary-color: #A3B288;
    --hover-color: #7C8B66;
    --text-color: #333333;
    --background-color: #f7f7f7;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

nav{
    background-color: var(--primary-color);
    padding: 26px;
    display: flex;
    align-items: flex-start;
}

#nav{
    list-style-type: none;
    display: flex;
    align-self: center;
    justify-content: space-evenly;
    width: 100%;
}

#logo{
    align-self: center;
    border-radius: 7px;
    position: absolute;
    top: 10px;
}

ul{
    list-style-type: none;
}

#accueil{
    text-decoration: underline;
    font-weight: bold;
}

hr{
    border-color: var(--text-color);
    margin: 5px 0;
}

.navhov{
    display: none;
    position: absolute;
    background-color: var(--primary-color);
    padding: 10px;
    margin-top: 5px;
    border-radius: 7px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2), -1px 0 10px rgba(0, 0, 0, 0.2);
}

.navhov li{
    margin: 10px 0;
}

#accueilhov:hover .navhov{
    display: flex;
    flex-direction: column;
}

ul a{
    text-decoration: none;
    color: var(--text-color);
    font-family: merriweather, sans-serif;
    font-variant: small-caps;
    font-size: 1.5em;
    padding: .3em 1em;
    border-radius: 7px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

ul a:hover{
    color: var(--background-color);
    background-color: var(--hover-color);
    text-decoration: underline;
}

body{
    background-color: var(--background-color);
}

main{
    padding: 50px;
}

h1{
    text-align: center;
    font-family: Arial, sans-serif;
    color: var(--hover-color);
    font-size: 2em;
}

#presentation{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

section hr{
    margin: 50px;
    border-color: var(--hover-color);
}

footer{
    background-color: var(--primary-color);
    width: 100%;
    padding: 26px;
    color: var(--text-color);
    font-family: merriweather, sans-serif;
}

#copyright{
    float: right;
}