@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,900;1,900&family=Oswald:wght@200..700&display=swap');

:root{
    --primary-color: #A3B288;
    --hover-color: #7C8B66;
    --secondary-hover-color: #515c41;
    --text-color: #333333;
    --background-color: #f7f7f7;
    --secondary-backgroud-color: #edf2e4;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: var(--background-color);
    padding-top: 82px;
}

/* header */

header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 4;
}

nav{
    background-color: var(--primary-color);
    padding: 26px;
    display: flex;
}

#nav{
    list-style-type: none;
    display: flex;
    align-self: center;
    justify-content: flex-end;
    width: 100%;
}

#logo{
    align-self: center;
    border-radius: 7px;
    position: absolute;
    top: 10px;
}

.separator{
    height: 2px;
    background-color: var(--text-color);
    margin: 5px 10px !important;
    padding: 0;
}

nav ul{
    list-style-type: none;
}

#accueil, #mission1, #mission2, #mission3, #mission4{
    text-decoration: underline;
    font-weight: bold;
}

#nav li:not(:first-child){
    margin-left: 25px;
}

#accueilhov, #mission1hov{
    position: relative;
}

.navhov{
    display: none;
    position: absolute;
    background-color: var(--primary-color);
    padding: 10px;
    margin-top: 5px;
    border-radius: 15px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2), -1px 0 10px rgba(0, 0, 0, 0.2);
    font-size: .8em;
    right: 0;
    width: max-content;
}

.navhov li{
    margin: 10px 0;
    text-align: right;
}

#accueilhov:hover .navhov, #mission1hov:hover .navhov{
    display: flex;
    flex-direction: column;
    z-index: 4;
}

ul a{
    text-decoration: none;
    color: var(--text-color);
    font-family: merriweather, sans-serif;
    font-variant: small-caps;
    font-size: 1.5em;
    padding: .3em 1em;
    border-radius: 30px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

ul a:hover{
    color: var(--background-color);
    background-color: var(--hover-color);
    text-decoration: underline;
}

ul a:active{
    background-color: var(--secondary-hover-color);
}

label, #toggle{
    display: none;
}

nav a img{
    width: 100%;
    max-width: 118px;
    height: auto;
}

/* header mobile */

@media screen and (max-width: 1200px){

    body{
        padding-top: 72px;
    }

    nav{
        padding: 16px;
    }

    nav a img{
        max-width: 98px;
    }

    ul a{
        font-size: 1.3em;
    }

    #nav li{
        padding: 15px;
        margin: 0 !important;
    }

    label{
        display: flex;
        color: white;
        font-size: 32px;
        align-items: center;
        cursor: pointer;
        position: relative;
    }

    .navhov{
        border-radius: 0;
    }

    .navhov li{
        margin: 5px 0;
    }

    #logo{
        display: flex;
    }

    nav{
        display: flex;
        justify-content: space-between;
    }

    #nav{
        display: none;
        flex-direction: column;
        position: fixed;
        top: 72px;
        right: 0;
        padding: 20px;
        width: max-content;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2), -1px 0 10px rgba(0, 0, 0, 0.2);
    }

    #toggle:checked ~ #nav {
        display: flex;
        background-color: var(--primary-color);
    }

    .separator-nav{
        height: 2px;
        background-color: var(--text-color);
        margin: 5px 0;
        padding: 0 !important;
    }

    .separator{
        height: 1.5px;
        padding: 0 !important;
    }
}

/* footer */

footer{
    background-color: var(--primary-color);
    width: 100%;
    padding: 26px;
    color: var(--text-color);
    font-family: merriweather, sans-serif;
}

footer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer div img{
    width: 100%;
    max-width: 118px;
    height: auto;
}

/* footer mobile */

@media screen and (max-width: 768px){
    footer{
        font-size: .8em;
        padding: 16px;
    }
    footer div img{
        max-width: 98px;
    }
}