@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,900;1,900&family=Oswald:wght@200..700&display=swap');

:root {
    --primary-color: #A3B288;
    --hover-color: #7C8B66;
    --secondary-hover-color: #515c41;
    --text-color: #333333;
    --background-color: #f7f7f7;
    --secondary-background-color: #edf2e4;
}

main {
    max-width: 100%;
    flex: 1;
    padding-bottom: 20px;
}

table {
    border-collapse: separate;
    border: 3px solid #A3B288;
    border-radius: 7px;
    margin-top: 200%;
    max-width: 100%;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

/*KDOO DONNEE structure css*/
/*.Kdoo-titre{

}*/

.highlight {
    background-color: var(--primary-color);
}

/* CONTAINER DE CLIENT*/


.K-DATA {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
}

.C1 {
    position: relative;
    display: inline-block;
}

#logo_client { /*Image*/
    max-width: 100%;
    z-index: -1;
    border-radius: 5%;
    box-shadow: 1px 3px 4px 5px #A3B288;
    padding: 3px;
}

#Client { /* Titre client*/
    font-size: 3em;
}

#clients{
    background-color: var(--secondary-background-color);
    padding: 50px;
}

#client_description, #Client { /* Description de la vignette client*/
    position: absolute;
    font-family: Oswald, sans-serif;
    text-align: center;
    transform: translate(-50%, 0%);
    width: 80%;
    left: 50%;
    color: #fefefc;
}

#client_description {
    font-size: 1.3em;
    bottom: 75px;
}

.C_reponses { /* bordure texte client à côte de la vignette*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(#a0d874, #4bba74);
    border-radius: 15px;
    height: auto;
    width: 75%;
    box-shadow: 1px 3px 4px 5px #A3B288;
    border: #f7f7f7 solid 3px;
    justify-items: center;
    padding: 20px;
}

.C_reponses h1 { /* Titre localisation : client s*/
    text-align: center;
    color: #fefefc;
    text-shadow: rgb(253, 202, 225) 2px 2px 2px;
    font-size: 1.7em;
    height: max-content;
    margin-bottom: 20px;
    grid-column: span 2;
}

.C_reponses .paris, .nantes{ /*tableau vignette client*/
    border: #fefefc solid 3px;
    color: #fefefc;
    grid-column: span 1;
    width: 100%;
}

.C_reponses table {
    border-collapse: separate;
    border-radius: 7px;
    width: 100%;
    margin-top: 20px;
}

.logo_paris {
    color: #fefefc;
    list-style-image: url("/assets/img/Paris_logo.png");
    font-size: 1.4em;
    list-style-position: inside;
    text-align: center;
}

.logo_nantes{
    color: #fefefc;
    text-align: center;
    font-size: 1.4em;
    list-style-image: url("/assets/img/cathedrale.png");
    list-style-position: inside;
}

.details{
    grid-column: span 2;
    justify-items: center;
    padding-top: 35px;
}

h2 { /*titre details spécifiques*/
    text-align: center;
    color: #fefefc;
    text-shadow: rgb(253, 202, 225) 3px 3px 3px;
    font-size: 1.8em;
}

.details p { /* texte vignette client */
    font-size: 1.3em;
    color: #fefefc;
    margin: 5px;
}


/* deuxième vignette*/
/*  Fournisseur container*/

.F-DATA{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
}

.C2 {
    position: relative;
    display: inline-block;
}

#logo_fournisseur { /*Image*/
    max-width: 100%;
    z-index: -1;
    border-radius: 5%;
    box-shadow: 1px 3px 4px 5px #A3B288;
    padding: 3px;
}

#Fournisseurs { /* Titre client*/
    font-size: 3em;
}

#fournisseur_description, #Fournisseurs { /* Description de la vignette client*/
    position: absolute;
    font-family: Oswald, sans-serif;
    text-align: center;
    transform: translate(-50%, 0%);
    width: 80%;
    left: 50%;
    color: var(--background-color);
}

#fournisseur_description {
    font-size: 1.3em;
    bottom: 75px;
}

#fournisseursm1, #améliorationm1{
    padding: 50px;
}

.F_reponses {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#a0d874, #4bba74);
    border-radius: 15px;
    width: 75%;
    box-shadow: 1px 3px 4px 5px #A3B288;
    border: #f7f7f7 solid 3px;
    padding: 20px;
    height: auto;
}

.F_reponses span { /* Titre localisation : client s*/
    text-align: center;
    color: #fefefc;
    text-shadow: rgb(253, 202, 225) 2px 2px 2px;
    font-size: 1.7em;
    margin: 22px;
}

.flags_fourni{
    border: #fefefc solid 3px;
    color: #fefefc;
    margin: 0;
}

.flags_fourni td, .flags_fourni th{
    padding: 29px;
    text-align: center;
}

h3{
    text-align: center;
    color: #fefefc;
    text-shadow: rgb(253, 202, 225) 2px 2px 2px;
    font-size: 1.6em;
}

.detail p { /* texte vignette client */
    font-size: 1.3em;
    color: #fefefc;
    margin: 5px;
}

.detail{
    margin: 22px;
}

/* 3ème vignette produits */

.P-DATA{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
}

.C3 {
    position: relative;
    display: inline-block;
}

#logo_produits { /*Image*/
    max-width: 100%;
    z-index: -1;
    border-radius: 5%;
    box-shadow: 1px 3px 4px 5px #A3B288;
    padding: 3px;
}

#Produits { /* Titre client*/
    font-size: 3em;
}

#Produits { /* Description de la vignette client*/
    position: absolute;
    font-family: Oswald, sans-serif;
    text-align: center;
    transform: translate(-50%, 0%);
    width: 80%;
    left: 50%;
    color: var(--background-color);
}

#produits_description { /* Description de la vignette client*/
    position: absolute;
    font-family: Oswald, sans-serif;
    text-align: center;
    transform: translate(-50%, -175%);
    width: 80%;
    left: 50%;
    color: var(--background-color);
}

#produits_description {
    font-size: 1.3em;
}

#produitsm1{
    padding: 50px;
    background-color: var(--secondary-background-color);
}

.P_reponses{
    display: flex;
    background: linear-gradient(#a0d874, #4bba74);
    border-radius: 15px;
    height: auto;
    width: 75%;
    box-shadow: 1px 3px 4px 5px #A3B288;
    border: #f7f7f7 solid 3px;
    justify-content: center;
    align-content: center;
    padding: 68px;
    flex-direction: column;
}

.P_reponses span { /* Titre localisation : client s*/
    text-align: center;
    color: #fefefc;
    text-shadow: rgb(253, 202, 225) 2px 2px 2px;
    font-size: 2.2em;
    height: max-content;
    margin-bottom: 20px;
}

.produits_container{
    display: flex;
    max-width: 100%;
    color: #fefefc;
    font-size: 1.2em;
    justify-content: center;
    margin-bottom: 30px;
    gap: 200px;
}


.P_reponses ul {
    list-style-image: url("/assets/img/logo_couvert.png");
    list-style-position: inside;
}

#style_puce_s, #style_puce_sp{
    list-style-image: none;
    list-style-type: none;
    margin-bottom: 20px;
    margin-left: 35px;
    color: black;
    text-decoration: underline;
    font-weight: bold;
}

.p_detail{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 100px;
    color: var(--background-color);
    margin: 10px;
    font-size: 1.4em;
}



/*4ème vignette*/

.Cible_reponses {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(#a0d874, #4bba74);
    border-radius: 15px;
    height: auto;
    width: 75%;
    box-shadow: 1px 3px 4px 5px #A3B288;
    border: #f7f7f7 solid 3px;
    justify-items: center;
    padding: 20px;
}

.Cible-DATA {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
}
.C4 {
    position: relative;
    display: flex; /* Utilisation de flex pour le conteneur de l'image et des textes */
    gap: 50px;
    margin-top: 25px;
    width: 100%;
}
#cible_photo{ /*Image*/
    max-width: 100%;
    z-index: -1;
    border-radius: 5%;
    box-shadow: 1px 3px 4px 5px #A3B288;
    padding: 3px;
}

#Cible { /* Titre client*/
    font-size: 2.4em;
    margin-top: 25px;
}

#cible_description, #Cible { /* Description de la vignette client*/
    position: absolute;
    font-family: Oswald, sans-serif;
    text-align: center;
    transform: translate(-50%, 0%);
    width: 80%;
    left: 15%;
    color: #fefefc;
}

#cible_description {
    font-size: 1.3em;
    bottom: 110px;
    width: 25%;
    justify-items: center;
}

.Cible_reponses span {
    grid-column: span 4;
    color: #fefefc;
    text-shadow: rgb(253, 202, 225) 2px 2px 2px;
    font-size: 2em;
}
.exemple_image {
    display: flex; /* Utilisation de flexbox pour la mise en page interne */
    flex-wrap: wrap; /* Organise les éléments en colonne */
    align-items: center; /* Centre les éléments horizontalement */
    grid-column: span 4; /* Positionne dans la première colonne de la grille */
    grid-row: span 4; /* Permet de s'étendre sur 2 lignes */
    color: #fefefc; /* Couleur du texte */
    gap: 20px;
}
.exemple_image table {
    width: 100%; /* S'assure que le tableau utilise la largeur complète */
    padding: 3px; /* Espacement interne */
    border: none; /* Pas de bordure pour le tableau */
    margin-top: -40px;

}
.exemple_image th, td {
    border: 1px solid #ccc;
    text-align: left;

}
.style_caption{
    color: rgba(128, 0, 0, 0.7);
    border: #fad02c 3px solid;
    font-weight: bold;
    border-radius: 15px;
}
td strong{
    background-color: rgba(250, 208, 44, 0.5);
}
.deuxieme_tableau{
    grid-row: 2;
}