@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,900;1,900&family=Oswald:wght@200..700&display=swap');

:root {
    --primary-color: #A3B288;
    --hover-color: #7C8B66;
    --secondary-hover-color: #515c41;
    --text-color: #333333;
    --background-color: #f7f7f7;
    --secondary-background-color: #edf2e4;
}

main {
    max-width: 100%;
    flex: 1;
}

table {
    border-collapse: separate;
    border: 3px solid #A3B288;
    border-radius: 7px;
    margin-top: 200%;
    max-width: 100%;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

/*KDOO DONNEE structure css*/
/*.Kdoo-titrergba(250, 208, 44, 0.8){

}*/

.INTRO-DATA {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
}

.C0 { /* bordure texte client à côte de la vignette*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: linear-gradient(#a0d874, #4bba74);
    border-radius: 15px;
    height: auto;
    width: 100%;
    box-shadow: 1px 3px 4px 5px #A3B288;
    border: #f7f7f7 solid 3px;
    justify-items: center;
    margin: 40px;
}

#intro_photo {
    grid-column: 1;
    margin-top: 15px;
    width: 40%;
}

.C0 p {
    grid-column: span 2;
    grid-row: span 2;
    text-align: justify;
    font-size: 1.6em;
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    color: #fefefc;
}

/* CONTAINER DE CLIENT*/


.K-DATA {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
}

.C1 {
    position: relative;
    display: inline-block;
}

#logo_client { /*Image*/
    max-width: 100%;
    z-index: -1;
    border-radius: 5%;
    box-shadow: 1px 3px 4px 5px #A3B288;
    padding: 3px;
}

#Client { /* Titre client*/
    font-size: 3em;
}

#clients {
    background-color: var(--secondary-background-color);
    padding: 50px;
}

#client_description, #Client { /* Description de la vignette client*/
    position: absolute;
    font-family: Oswald, sans-serif;
    text-align: center;
    transform: translate(-50%, 0%);
    width: 80%;
    left: 50%;
    color: #fefefc;
}

#client_description {
    font-size: 1.3em;
    bottom: 145px;
}

.C_reponses { /* bordure texte client à côte de la vignette*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(#a0d874, #4bba74);
    border-radius: 15px;
    height: auto;
    width: 75%;
    box-shadow: 1px 3px 4px 5px #A3B288;
    border: #f7f7f7 solid 3px;
    justify-items: center;
    padding: 65px;
}

.C_reponses h1 { /* Titre localisation : client s*/
    text-align: center;
    color: #fefefc;
    text-shadow: rgb(253, 202, 225) 2px 2px 2px;
    font-size: 1.7em;
    height: max-content;
    margin-bottom: 20px;
    grid-column: span 2;
}

.C_reponses .paris, .nantes { /*tableau vignette client*/
    border: #fefefc solid 3px;
    color: #fefefc;
    grid-column: span 1;
    width: 100%;
}

.C_reponses table {
    border-collapse: separate;
    border-radius: 7px;
    width: 100%;
    margin-top: 20px;
}

.logo_paris {
    color: #fefefc;
    list-style-image: url("/assets/img/Paris_logo.png");
    font-size: 1.4em;
    list-style-position: inside;
    text-align: center;
}

.logo_nantes {
    color: #fefefc;
    text-align: center;
    font-size: 1.4em;
    list-style-image: url("/assets/img/cathedrale.png");
    list-style-position: inside;
}

.details {
    grid-column: span 2;
    justify-items: center;
    padding-top: 35px;
}

h2 { /*titre details spécifiques*/
    text-align: center;
    color: #fefefc;
    text-shadow: rgb(253, 202, 225) 3px 3px 3px;
    font-size: 1.8em;
}

.details p { /* texte vignette client */
    font-size: 1.3em;
    color: #fefefc;
    margin: 5px;
}


/* deuxième vignette*/
/*  Fournisseur container*/

.F-DATA {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
}

.C2 {
    position: relative;
    display: inline-block;
}

#logo_fournisseur { /*Image*/
    max-width: 100%;
    z-index: -1;
    border-radius: 5%;
    box-shadow: 1px 3px 4px 5px #A3B288;
    padding: 3px;
}

#Fournisseurs { /* Titre client*/
    font-size: 3em;
}

#fournisseur_description, #Fournisseurs { /* Description de la vignette client*/
    position: absolute;
    font-family: Oswald, sans-serif;
    text-align: center;
    transform: translate(-50%, 0%);
    width: 80%;
    left: 50%;
    color: var(--background-color);
}

#fournisseur_description {
    font-size: 1.3em;
    bottom: 155px;
}

#fournisseursm1, #améliorationm1, #Bilan {
    padding: 50px;
}

.F_reponses {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#a0d874, #4bba74);
    border-radius: 15px;
    width: 75%;
    box-shadow: 1px 3px 4px 5px #A3B288;
    border: #f7f7f7 solid 3px;
    padding: 60px;
    height: auto;
}

.F_reponses span { /* Titre localisation : client s*/
    text-align: center;
    color: #fefefc;
    text-shadow: rgb(253, 202, 225) 2px 2px 2px;
    font-size: 1.7em;
    margin: 22px;
}

.flags_fourni {
    border: #fefefc solid 3px;
    color: #fefefc;
    margin: 0;
}

.flags_fourni td, .flags_fourni th {
    padding: 29px;
    text-align: center;
}

h3 {
    text-align: center;
    color: #fefefc;
    text-shadow: rgb(253, 202, 225) 2px 2px 2px;
    font-size: 1.6em;
}

.detail p { /* texte vignette client */
    font-size: 1.3em;
    color: #fefefc;
    margin: 5px;
}

.detail {
    margin: 22px;
}

/* 3ème vignette produits */

.P-DATA {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
}

.C3 {
    position: relative;
    display: inline-block;
}

#logo_produits { /*Image*/
    max-width: 100%;
    z-index: -1;
    border-radius: 5%;
    box-shadow: 1px 3px 4px 5px #A3B288;
    padding: 3px;
}

#Produits { /* Titre client*/
    font-size: 3em;
}

#Produits { /* Description de la vignette client*/
    position: absolute;
    font-family: Oswald, sans-serif;
    text-align: center;
    transform: translate(-50%, 0%);
    width: 80%;
    left: 50%;
    color: var(--background-color);
}

#produits_description { /* Description de la vignette client*/
    position: absolute;
    font-family: Oswald, sans-serif;
    text-align: center;
    transform: translate(-50%, -175%);
    width: 80%;
    left: 50%;
    color: var(--background-color);
}

#produits_description {
    font-size: 1.3em;
    bottom: 25px;
}

#produitsm1 {
    padding: 50px;
    background-color: var(--secondary-background-color);
}

.P_reponses {
    display: flex;
    background: linear-gradient(#a0d874, #4bba74);
    border-radius: 15px;
    height: auto;
    width: 75%;
    box-shadow: 1px 3px 4px 5px #A3B288;
    border: #f7f7f7 solid 3px;
    justify-content: center;
    align-content: center;
    padding: 130px;
    flex-direction: column;
}

.P_reponses span { /* Titre localisation : client s*/
    text-align: center;
    color: #fefefc;
    text-shadow: rgb(253, 202, 225) 2px 2px 2px;
    font-size: 2.2em;
    height: max-content;
    margin-bottom: 20px;
}

.produits_container {
    display: flex;
    max-width: 100%;
    color: #fefefc;
    font-size: 1.2em;
    justify-content: center;
    margin-bottom: 30px;
    gap: 200px;
}


.P_reponses ul {
    list-style-image: url("/assets/img/logo_couvert.png");
    list-style-position: inside;
}

#style_puce_s, #style_puce_sp {
    list-style-image: none;
    list-style-type: none;
    margin-bottom: 20px;
    margin-left: 35px;
    color: black;
    text-decoration: underline;
    font-weight: bold;
}

.p_detail {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 100px;
    color: var(--background-color);
    margin: 10px;
    font-size: 1.4em;
}


.Cible_DATA {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
}

.C4 {
    position: relative;
    display: inline-block;
}

#cible_photo { /*Image*/
    max-width: 100%;
    z-index: -1;
    border-radius: 5%;
    box-shadow: 1px 3px 4px 5px #A3B288;
    padding: 3px;
}

#Cible { /* Titre client*/
    font-size: 2.5em;
    margin-top: 15px;
}

#améliorationm1 {
    padding: 50px;
}

#cible_description, #Cible { /* Description de la vignette client*/
    position: absolute;
    font-family: Oswald, sans-serif;
    text-align: center;
    transform: translate(-50%, 0%);
    width: 80%;
    left: 50%;
    color: #fefefc;
}

#cible_description {
    font-size: 1.3em;
    bottom: 115px;
}

.Cible_reponses { /* bordure texte client à côte de la vignette*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(#a0d874, #4bba74);
    border-radius: 15px;
    height: auto;
    width: 75%;
    box-shadow: 1px 3px 4px 5px #A3B288;
    border: #f7f7f7 solid 3px;
    justify-items: center;
    padding: 100px;
}

.Cible_reponses span {
    text-align: center;
    color: #fefefc;
    text-shadow: rgb(253, 202, 225) 2px 2px 2px;
    font-size: 3em;
    height: max-content;
    margin-bottom: 20px;
    grid-column: span 2;

}

.Cible_reponses table {
    border-collapse: separate;
    border-radius: 7px;
    width: 100%;
    margin-top: 20px;
}

.exemple_image {
    display: flex;
    flex-wrap: wrap;
    grid-column: span 2;
    grid-row: span 2;
    color: #fefefc;
    gap: 20px;
}

.exemple_image table {
    padding: 3px;
    border: none;
}

.exemple_image th, td {
    border: 1px solid #ccc;
    text-align: center;


}

.style_caption {
    color: rgba(128, 0, 0, 0.7);
    border: #fad02c 3px solid;
    font-weight: bold;
    border-radius: 15px;
}

td strong {
    background-color: rgba(250, 208, 44, 0.5);
}


.BILAN-DATA {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
}

.C5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: linear-gradient(#a0d874, #4bba74);
    border-radius: 15px;
    height: auto;
    width: 100%;
    box-shadow: 1px 3px 4px 5px #A3B288;
    border: #f7f7f7 solid 3px;
    justify-items: center;
    padding: 5%;
    color: #fefefc;

}

.C5 span {
    grid-column: span 3;
    grid-row: 1;
    text-align: center;
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: rgb(253, 202, 225) 2px 3px 2px;
}

.C5 p {
    grid-column: span 3;
    grid-row: 2;
    font-size: 1.6em;
    text-align: justify;
}

#conclusionm1 {
    background-color: var(--secondary-background-color);
    padding: 50px;
}

@media screen and (max-width: 1300px) {


    .K-DATA, .F-DATA, .P-DATA, .Cible_DATA {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 35px;
        width: 100%;
    }

    .C_reponses, .F_reponses {
        display: flex;
        flex-direction: column;
        width: 100%;
    }


    .all > .Intro-mission1 {
        width: 85%;
    }

    h1 {
        font-size: 3.7em;
    }

    .exemple_image table {
        max-width: 100%;
    }

    .tableau2 {
        margin-left: 80px;
    }

    #style_puce_sp {
        margin-left: 0;
    }

    .Cible_reponses span {
        font-size: 2.4em;
    }

    .icone {
        width: 1em;
    }

    .K-DATA, .F-DATA, .P-DATA, .BILAN-DATA, .Cible_DATA {
        display: flex;
        justify-content: center;
    }



}

@media screen and (max-width: 768px) {

    .icone {
        width: 0.9em;
    }

    #intro_photo {
        grid-column: span 3;
        grid-row: 1;
        margin-top: 15px;
        width: 30%;
    }

    .C0 p {
        grid-column: span 3;
        grid-row: 2;
        margin: 30px;
        text-align: justify;
        color: #fefefc;
        font-size: 1.3em;
    }

    span {
        font-size: 2em;
    }

    p {
        font-size: 1.2em;
    }

    .P_reponses {
        width: 100%;
    }

    .exemple_image {
        width: 100%;
        margin-left: -50px;
    }

    .produits_container {
        display: flex;
        flex-wrap: nowrap;
        padding: 15px;
        text-align: left;
        max-width: 40%;
    }

    .flags_fourni thead {
        display: none;
    }

    .flags_fourni tr {
        display: block;
        margin-bottom: 40px;
    }

    .flags_fourni td {
        display: block;
        text-align: right;
        position: relative;
    }

    .flags_fourni td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-align: left;
    }

    .flags_fourni td.align {
        text-align: center;
        font-weight: bold;
        font-size: 1.2em;

    }

    .produits_container, .p_detail {
        max-width: 100%;
    }

    .p_detail p, .produits_container {
        font-size: 1em;
    }

    .Cible_DATA {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .C4 {
        order: 1;
        margin-bottom: 20px;
    }

    .Cible_reponses {
        order: 2;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .C5 span {
        font-size: 2.4em;
    }

    .C5 p {
        font-size: 1.1em;
        margin: 20px;
    }

    .Cible_reponses span, .P_reponses span {
        font-size: 2em;
        text-align: center;
    }

    .produits_container {
        gap: 40px;
    }

    .p_detail {
        gap: 10px;
        font-size: 1.2em;
    }

    .exemple_image {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 0.8em;
    }

    .exemple_image table {
        padding: 0;
        border: none;
    }

}