:root{
    --primary-color: #A3B288;
    --hover-color: #7C8B66;
    --secondary-hover-color: #515c41;
    --text-color: #333333;
    --background-color: #f7f7f7;
    --secondary-bacground-color: #edf2e4;
}

#all {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#all > .context {
    background: linear-gradient(#a0d874, #4bba74);
    border-radius: 15px;
    box-shadow: 1px 3px 4px 5px #A3B288;
    border: #f7f7f7 solid 3px;
    height: auto;
    width: 96%;
    margin: 70px 50px;
    padding: 20px;
}

.context > p{
    color: var(--background-color);
    font-family: Arial, sans-serif;
    font-size: 1.4em;
    text-align: justify;
    margin: 0 30px 20px 30px;
}

.presentation > p{
    color: var(--background-color);
    font-size: 1.2em;
    text-align: justify;
    margin: 0 20px 10px 20px;
}

.presentation2 > p{
    color: var(--background-color);
    font-size: 1.2em;
    text-align: justify;
    margin: 0 20px 10px 20px;
}

h1 {
    text-align: center;
    font-family: Oswald, sans-serif;
    font-weight: normal;
    color: var(--background-color);
    font-size: 4em;
}

h2 {
    text-align: left;
    color: #fefefc;
    text-shadow: rgb(253, 202, 225) 2px 2px 2px;
    font-size: 2em;
    margin: 30px 20px;
}

.indicateur {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.first_indicateur, .second_indicateur, .third_indicateur, .fourth_indicateur {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    padding-top: 1%;
    padding-bottom: 1%;
}

.presentation {
    background: linear-gradient(#a0d874, #4bba74);
    border-radius: 15px;
    box-shadow: 1px 3px 4px 5px #A3B288;
    border: #f7f7f7 solid 3px;
    width: 62%;
    padding: 2%;
}

.resultat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#a0d874, #4bba74);
    border-radius: 15px;
    box-shadow: 1px 3px 4px 5px var(--primary-color);
    border: var(--background-color) solid 3px;
    width: 30%;
    padding: 2%;
}

.presentation2{
    background: linear-gradient(#a0d874, #4bba74);
    border-radius: 15px;
    box-shadow: 1px 3px 4px 5px #A3B288;
    border: #f7f7f7 solid 3px;
    width: 47%;
    padding: 2%;
}

.resultat2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#a0d874, #4bba74);
    border-radius: 15px;
    box-shadow: 1px 3px 4px 5px #A3B288;
    border: #f7f7f7 solid 3px;
    width: 45%;
    padding: 2%;
}

table {
    border: 3px solid var(--background-color);
    text-align: center;
    width: 70%;
    height: 70%;
    border-radius: 7px;
}

td, th {
    border: 1px solid #ccc;
    text-align: center;
    color: var(--background-color);
    padding: 1em 2em;
    word-break: break-word;
    overflow-wrap: break-word;
}

.resultat2 td, .resultat2 th {
    border: 1px solid #ccc;
    text-align: center;
    padding: 2px 20px;
    color: var(--background-color);
}

main section:nth-child(even){
    background-color: var(--secondary-background-color);
    padding: 50px 0;
}

main section:nth-child(odd){
    padding: 50px 0;
}

p.SQL{
    text-align: left;
}

@media screen and (max-width: 1300px) {
    .first_indicateur, .second_indicateur, .third_indicateur, .fourth_indicateur {
        flex-direction: column;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
    }

    #all > .context{
        width: 85%;
    }

    .presentation, .resultat, .presentation2, .resultat2{
        margin-bottom: 35px;
        width: 85%;
    }

    h1 {
        font-size: 3.7em;
    }

    h2 {
        font-size: 1.6em;
    }

    .Theme{
        font-size: 2em;

    }
    main section:nth-child(odd){
        padding: 30px 0;
    }

    main section:nth-child(even){
        padding: 30px 0;
    }

}


@media screen and (max-width: 768px){

    .context > p{
        font-size: 1em;
    }

    .presentation > p{
        font-size: 1em;
    }

    .presentation2 > p{
        font-size: 1em;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 1.2em;
    }

    .Theme{
        font-size: 1.6em;
    }

    main section:nth-child(odd){
        padding: 15px 0;
    }

    main section:nth-child(even){
        padding: 15px 0;
    }

    td, th{
        font-size: 0.8em;
    }

}


/* code couleur sql */

.operateur {
    color:#800000;
    font-weight:bold;
}

.valeur {
    color:#FFFFCC;
}

.mot {
    color:#800000;
}

.ponctuation {
    color:#808030;
}

.agregation {
    color:#bb7977;
    font-weight:bold;
}