:root{
    --primary-color: #A3B288;
    --hover-color: #7C8B66;
    --secondary-hover-color: #515c41;
    --text-color: #333333;
    --background-color: #f7f7f7;
    --secondary-bacground-color: #edf2e4;
}

#all {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#all > .context {
    background: linear-gradient(#a0d874, #4bba74);
    border-radius: 15px;
    box-shadow: 1px 3px 4px 5px #A3B288;
    border: #f7f7f7 solid 3px;
    height: auto;
    width: 94%;
    margin: 50px;
    padding: 20px;
}

.context > p{
    color: var(--background-color);
    font-family: Arial, sans-serif;
    font-size: 1.4em;
    text-align: justify;
    margin: 0 30px 20px 30px;
}

.presentation > p{
    color: var(--background-color);
    font-size: 1.2em;
    text-align: justify;
    margin: 0 20px 10px 20px;
}

h1 {
    text-align: center;
    font-family: Oswald, sans-serif;
    font-weight: normal;
    color: var(--background-color);
    font-size: 4vw;
}

h2 {
    text-align: left;
    color: #fefefc;
    text-shadow: rgb(253, 202, 225) 2px 2px 2px;
    font-size: 2vw;
}

.indicateur {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 98%;

}

.first_indicateur, .second_indicateur, .third_indicateur, .fourth_indicateur {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    padding-top: 1%;
    padding-bottom: 1%;
}

.presentation {
    background: linear-gradient(#a0d874, #4bba74);
    border-radius: 15px;
    box-shadow: 1px 3px 4px 5px #A3B288;
    border: #f7f7f7 solid 3px;
    width: 63%;
    padding: 2%;
}

.resultat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#a0d874, #4bba74);
    border-radius: 15px;
    box-shadow: 1px 3px 4px 5px #A3B288;
    border: #f7f7f7 solid 3px;
    width: 30%;
    padding: 2%;
}

table {
    border: 3px solid var(--background-color);
    text-align: center;
    width: 70%;
    height: 70%;
    border-radius: 7px;
}

td, th {
    border: 1px solid #ccc;
    text-align: center;
    color: var(--background-color);
}

footer {
    margin-top: 40px;
}